parameters:
	level: 3
	paths:
		- src
	ignoreErrors:
		- '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::arrayNode\(\).#'
		- '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::addDefaultsIfNotSet\(\).#'
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
